@model SmartRdo.Business.Models.Atividade

@{
    ViewData["Title"] = "Deletar";
}

<h3>Tem certeza de que deseja excluir a atividade?</h3>
<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InicioPrevisto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InicioPrevisto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FimPrevisto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FimPrevisto)
        </dd>
       <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area.CodigoArea)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsavelArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsavelArea.Nome)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operador.Nome)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-block btn-danger" />
        <a asp-action="Index" class="btn btn-block btn-outline-primary">Retornar para Atividades</a>
    </form>
</div>
