@model IEnumerable<SmartRdo.Business.Models.ResponsavelArea>

@{
    ViewData["Title"] = "Index";
}

<h1>Responsáveis</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="text-right">
                <a class="btn btn-outline-warning btn-sm" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
                <a class="btn btn-outline-info btn-sm" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>
                <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
            </td>
        </tr>
}
    </tbody>
</table>
